
/* ESTILO GERAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    font-size: 100%;
    height: 100vh;
}

.menu {
    display: flex;
    text-align: center;
    color: #fff;
    text-decoration: none;    
}

header {
    color: white;
    position: fixed;
    padding: 30PX 4%;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    z-index: 1000;
}

header li {
    margin: 15px;
    list-style-type: none;
    font-size: 13px;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #8f0202;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

/* ESTILO DO TOPO */

.topo {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.logo-nome {
    width: 80px;
}


/* ESTILO HOME */

#logo-saga {
    width: 500px;
    margin-top: 100px;
}

.inicio {
    width: 1200px auto;
    height: 720px;
}

#home {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)),url(src/background.jpg);
    background-size: cover;
    background-size: 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
}

.p1 {
    text-align: left;
    align-content: center;
    width: 500px;
    margin-left: 80px;
}

/* ESTILO ABOUT */

.sobre {
    background-color: black;
    height: 650px;
    color: white;

}

.titulo-sobre {
    margin: 70px 0 50px 80px;
    font-size: 50px;
    width: 200px;
    color: #8f0202;
}

.p2 {
    text-align: left;
    align-content: center;
    width: 500px;
    margin-left: 80px;
}

.content-about {
    display: flex;
    align-content: center;
    align-items: center;

}

#capa-livro {
    width: 170px;
    margin: 100px 0 0 250px;
    border-radius: 10px;
    box-shadow: 0px 10px 5px #8f0202;
}

/* ESTILO CAST */

.characters {
    height: 700px;
    background-color: white;
    color: black;
    display: flex;
}

.foto {
    width: 200px;
    height: 290px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

/* ESTILO BOOKS */

.books {
    height: 700px;
    width: auto;
}

/* ESTILO DO SLIDE */

.slider{
    position: relative;
    background: #000;
    width: 200px;
    min-height: 390px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: relative;
    color: rgb(159, 0, 0);
    background: transparent;
    width: 75%;
    top: 650px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
  
    backdrop-filter: blur(10px);  
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }
  
  .navigation{
    height: 885px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2rem;
    color: #aa0000;
    background: rgba(0, 0, 0, 0.571);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .next-btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(0, 0, 0, 0.571);
    width: 10px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #aa0000;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }

  /* FIM DE ESTILO DO SLIDE */